$main-color: #000000;
$font-primary-color: #ffffff;
$font-secondary-color: #848895;
$font-tertiary-color: #618ADC;
$contrast-primary-color: #111111;
$contrast-secondary-color: #1A1A1A;
$brand-color: #8C01FA;
$util-strong-blue-color: #0047FF;
$util-light-blue-color: #00BCD4;
$util-dark-blue-color: #025B8C;
$util-cyan-color: #00FFBD;
$util-light-green-color: #19FB9B;

$sm-font-size: 0.889rem;
$default-font-size: 1rem;
$md-font-size: 1.167rem;
$lg-font-size: 1.556;
$xl-font-size: 2.111rem;
$xxl-font-size: 3.889rem;

$sm-screen: 468px;
$md-screen: 768px;
$lg-screen: 1024px;

$primary-font: 'Helvetica', 'Roboto', sans-serif;
$secondary-font: 'Roboto', 'Helvetica', sans-serif;
